<a href="https://colab.research.google.com/github/mnngit/Advanced-Python/blob/main/_03_Dictionaries_in_Python_Advanced_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Dictionary: key:value pairs, unordered, mutable***
A dictionary is created using braces {} and the key:vlaues are seperated by a colon(:).

In [1]:
mydict = {'name':'Nur', 'age':50, 'city':'Jeddah'}

In [2]:
mydict

{'name': 'Nur', 'age': 50, 'city': 'Jeddah'}

In [3]:
mydict2 = dict(name="Nur", age=40, city='Jeddah')
mydict2

{'name': 'Nur', 'age': 40, 'city': 'Jeddah'}

In [4]:
mydict['name']

'Nur'

In [5]:
mydict['city']

'Jeddah'

In [6]:
mydict['email'] = 'max@gmail.com'

In [7]:
mydict

{'name': 'Nur', 'age': 50, 'city': 'Jeddah', 'email': 'max@gmail.com'}

In [8]:
# with the same key, re-entry will overwrite the value
mydict['email'] = 'mnn.saag@gmail.com'

In [9]:
mydict

{'name': 'Nur', 'age': 50, 'city': 'Jeddah', 'email': 'mnn.saag@gmail.com'}

# delete items from the dictionary

In [11]:
del mydict['name']

In [12]:
mydict

{'age': 50, 'city': 'Jeddah', 'email': 'mnn.saag@gmail.com'}

In [13]:
mydict.pop('age')

50

In [14]:
mydict

{'city': 'Jeddah', 'email': 'mnn.saag@gmail.com'}

In [15]:
mydict.popitem()

('email', 'mnn.saag@gmail.com')

In [16]:
mydict

{'city': 'Jeddah'}

In [17]:
if 'city' in mydict:
  print(mydict['city'])

Jeddah

In [21]:
try:
  print(mydict['city'])
except:
  print('Error')

Jeddah

loop through a dictionary

In [22]:
mydict = dict(
    name='Nur',
    age=50,
    city='Jeddah',
    country='ksa',
    job='ccr'
)

In [23]:
mydict

{'name': 'Nur', 'age': 50, 'city': 'Jeddah', 'country': 'ksa', 'job': 'ccr'}

In [24]:
for key in mydict:
  print(key)

name
age
city
country
job

In [25]:
for key in mydict.keys():
  print(key)

name
age
city
country
job

In [26]:
for value in mydict.values():
  print(value)

Nur
50
Jeddah
ksa
ccr

In [27]:
for key, value in mydict.items():
  print(key, value)

name Nur
age 50
city Jeddah
country ksa
job ccr

# ***copy a dictionary***

In [30]:
# it will make a copy 'mydict' but if your make a change in the copy, the original dictionary will also be changed
mydict_cpy = mydict # assignment method

In [36]:
# actual copy method
# mydict_cpy = mydict.copy()
mydict_cpy = dict(mydict)

In [37]:
mydict_cpy

{'name': 'Nur', 'age': 50, 'city': 'Jeddah', 'country': 'ksa', 'job': 'ccr'}

In [38]:
mydict_cpy['email'] = 'max@gmail.com'

In [39]:
mydict_cpy

{'name': 'Nur',
 'age': 50,
 'city': 'Jeddah',
 'country': 'ksa',
 'job': 'ccr',
 'email': 'max@gmail.com'}

In [40]:
mydict

{'name': 'Nur', 'age': 50, 'city': 'Jeddah', 'country': 'ksa', 'job': 'ccr'}

# ***merging dictionaries***

In [41]:
mydict = {'name':'Nur', 'age':50, 'email':'abc@gmail.com'}
mydict2 = dict(name='Nabi', age=40, city='Jeddah')

In [42]:
mydict.update(mydict2)

In [43]:
mydict

{'name': 'Nabi', 'age': 40, 'email': 'abc@gmail.com', 'city': 'Jeddah'}

# using update method, all the same key_values will be overwritten

# **key types**

In [44]:
mydict = {2:4, 3:9, 4:16, 5:25}

In [45]:
mydict

{2: 4, 3: 9, 4: 16, 5: 25}

In [46]:
# if you use number as a key, then you can not use index of the key to find the value, rather you have to use the actual key
value = mydict[3]

In [47]:
value

9

In [48]:
mytuple = (8,9)
mydict = {mytuple:17}

In [49]:
mydict

{(8, 9): 17}

# ***A tuple can be used as a key but not a list***