<a href="https://colab.research.google.com/github/mnngit/Advanced-Python/blob/main/_07_Itertools_in_Python_Advanced_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Itertools: product, permutations, combinations, accumulate, groupby and infinite iterators**

---

# **product**

In [31]:
from itertools import product
a = [1,2]
b = [3]
prod = product(a,b, repeat=2)
list(prod)

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

# **permutations**

In [32]:
from itertools import permutations

In [33]:
a = [1,2,3]
perm = permutations(a)
list(perm)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [34]:
perm2 = permutations(a, 2)
list(perm2)

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

# **combinations**

In [35]:
from itertools import combinations, combinations_with_replacement

In [36]:
a = [1,2,3,4]
comb = combinations(a, 2)
list(comb)

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [37]:
comb_wr = combinations_with_replacement(a, 2)
list(comb_wr)

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 3),
 (3, 4),
 (4, 4)]

# **accumulate**

In [38]:
from itertools import accumulate
import operator
a = [1,2,3,4]
accm = accumulate(a)
a

[1, 2, 3, 4]

In [39]:
list(accm)

[1, 3, 6, 10]

In [40]:
accm = accumulate(a, func=operator.mul)
list(accm)

[1, 2, 6, 24]

In [41]:
b = [1,2,9,3,4]
accm = accumulate(b, func=max)
list(accm)

[1, 2, 9, 9, 9]

# **groupby**

In [42]:
from itertools import groupby

In [43]:
def smaller_than_3(x):
  return x<3

a = [1,2,3,4]
# groupby_obj = groupby(a, key=smaller_than_3)
groupby_obj = groupby(a, key=lambda x: x<3)

for key, value in groupby_obj:
  print(key, list(value))

True [1, 2]
False [3, 4]

In [44]:
persons = [{'name':'Tim', 'age':25}, {'name':'Nur', 'age':50}, {'name':'Dan', 'age':25}, {'name':'Lisa', 'age':27}]

In [48]:
group_obj = groupby(persons, key=lambda x: x['age'])
for key, value in group_obj:
  print(key, list(value))

25 [{'name': 'Tim', 'age': 25}]
50 [{'name': 'Nur', 'age': 50}]
25 [{'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]

# **infinite iterators: count, cycle, repeat**

In [49]:
from itertools import count, cycle, repeat

In [50]:
for i in count(10):
  print(i)
  if i == 15:
    break

10
11
12
13
14
15

In [53]:
# a = [1,2,3]
# for i in cycle(a):
#   print(i)

In [54]:
for i in repeat(1, 5):
  print(i)

1
1
1
1
1