<a href="https://colab.research.google.com/github/mnngit/Advanced-Python/blob/main/_08_Lambda_in_Python_Advanced_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **lambda arguments: expression**

In [1]:
add10 = lambda x: x +10
add10(4)

14

In [4]:
mult = lambda x,y: x*y
mult(3,5)

15

# lambda with sorted function

In [1]:
points2D = [(1,2), (15,1), (5, -1), (10, 4)]
points2D_sorted = sorted(points2D)
points2D

[(1, 2), (15, 1), (5, -1), (10, 4)]

In [2]:
points2D_sorted

[(1, 2), (5, -1), (10, 4), (15, 1)]

In [4]:
points2D_sorted = sorted(points2D, key=lambda x: x[1])
points2D_sorted

[(5, -1), (15, 1), (1, 2), (10, 4)]

In [5]:
def sort_by_y(x):
  return x[1]

points2D_sorted = sorted(points2D, key=sort_by_y)
points2D_sorted

[(5, -1), (15, 1), (1, 2), (10, 4)]

In [6]:
points2D_sorted = sorted(points2D, key=lambda x: x[0] + x[1])
points2D_sorted

[(1, 2), (5, -1), (10, 4), (15, 1)]

# **map(func, seq)**

In [7]:
a = [1,2,3,4,5]
b = map(lambda x: x**2, a)

In [8]:
list(b)

[1, 4, 9, 16, 25]

# we can achive the same result using list comprehension

In [9]:
c = [x**2 for x in a]
c

[1, 4, 9, 16, 25]

# **filter(func, seq)**

In [11]:
a = [1,2,3,4,5,6]
b = filter(lambda x: x%2==0, a)
list(b)

[2, 4, 6]

In [14]:
# list comprehension
c = [x%2==0 for x in a]
list(c)

[False, True, False, True, False, True]

In [15]:
c = [x for x in a if x%2==0]
c

[2, 4, 6]

# ***reduce(func, seq)***

In [16]:
from functools import reduce
a = [1,2,3,4,5,6]
product_a = reduce(lambda x,y: x*y, a)
product_a

720