<a href="https://colab.research.google.com/github/mnngit/Advanced-Python/blob/main/one_line.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
squares = []
for i in range(10):
  if i % 2 == 0:
    squares.append(i*i)

print(squares)

[0, 4, 16, 36, 64]

In [8]:
# using list comprehension
squares = [i*i for i in range(10) if i % 2 == 0]

In [9]:
squares

[0, 4, 16, 36, 64]

In [10]:
if 3 > 2:
  var = 42
else:
  var = 99

In [11]:
var

42

In [12]:
var = 42 if 3>2 else 99
var

42

In [14]:
data = [1,2,3,4,5]
print(*data)

1 2 3 4 5

In [15]:
import datetime; print((datetime.date(2022,12,31)-datetime.date.today()).days)

45

In [16]:
a = [1,2,3,4,5]

In [17]:
a = a[::-1]

In [18]:
a

[5, 4, 3, 2, 1]

In [24]:
a = 'level'
a = a[::-1]
a
# level is a palindrome
print(a == a[::-1])

True

In [20]:
b = 'mango'
b = b[::-1]
b

'ognam'

In [25]:
name, age, language = 'nur', 50, 'python'

In [26]:
name, age, language

('nur', 50, 'python')

In [28]:
print(name, age, language)

nur 50 python

In [29]:
user_input = '1 2 3 5'
myList = list(map(int, user_input.split()))

In [30]:
myList

[1, 2, 3, 5]

In [31]:
# names = [line.strip() for line in open('names.txt', 'r')]

In [32]:
# http server one-liner
# python -m http.server